.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title_bar {
    margin: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    /* background-color: #eee; */
    border-width: 0 0 0.5px 0;
    border-style: solid;
    border-color: #ddd;
    font-size: 1.5rem;
}

.display_board {
    overflow: auto;
    margin: 0;
    border: 0;
    padding: 0.5rem 0 0 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message_left {
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: #000;
    float: left;
    width: fit-content;
    max-width: 70%;
    line-height: 1.25rem;
    word-wrap: break-word;
    word-break: break-all;
}

.headshot_left {
    border-radius: 0.25rem;
    margin: 0 0.5rem 0 0.25rem;
    border-width: 0.5px;
    /* border-style: solid; */
    /* border-color: #ddd; */
    padding: 0;
    float: left;
    width: 2rem;
    height: 2rem;
}

.message_right {
    background-color: #208ffd;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: #fff;
    float: right;
    width: fit-content;
    max-width: 70%;
    line-height: 1.25rem;
    word-wrap: break-word;
    word-break: break-all;
}

.headshot_right {
    border-radius: 0.25rem;
    margin: 0 0.25rem 0 0.5rem;
    border-width: 0.5px;
    /* border-style: solid; */
    /* border-color: #ddd; */
    padding: 0;
    float: right;
    width: 2rem;
    height: 2rem;
}

.message {
    padding: 0.25rem 0.5rem;
}

.input_box {
    overflow: auto;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.function_bar {
    /* background-color: #f8f8f8; */
    overflow: hidden;
    border-width: 0.5px 0 0 0;
    border-style: solid;
    border-color: #ddd;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.function_button {
    height: 1.5rem;
    width: 1.5rem;
    border: 0;
    margin: 0.5rem 0.5rem 0rem 0.5rem;

}

.writing {
    background-color: #fff;
    overflow: auto;
    font-size: 1rem;
    margin: 0;
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    outline: none;
    flex: 1;
}