html, body, #__next, main {
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    color: #222;
    background: #fff; 
    height: 100%;
    width: 100%;
    min-width: 54rem;
    min-height: 30rem;
}