.sidebar {
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    position: fixed;
    width: 4rem;
    height: 100%;
    background-color: #eee;
}

.sidebar_item {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
}
.sidebar_item:hover {
    background-color: #bbb;
    color: white;
}

.sidebar_logo {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    background-color: #ddd;
}

.column {
    overflow: auto;
    margin: 0;
    border: 0;
    padding: 0;
    position: fixed;
    left: 4rem;
    width: 20rem;
    height: 100%;
    background-color: #fff;
}

.column_search {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background-color: #f4f4f4;
}

.search_bar {
    width: 16rem;
    height: 1.8rem;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    color: #444;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ddd;
}

.column_item {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.column_item:hover {
    background-color: #f4f4f4;
}


.content {
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    position: fixed;
    left: 24rem;
    width: 100%;
    height: 100%;
}