.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    width: 4rem;
    height: 100%;
    background-color: #eee;
}

.sidebar_item {
    margin: 0;
    border: 0;
    padding: 1rem;
    height: 2rem;
    width: 2rem;
}
.sidebar_item:hover {
    background-color: #ddd;
    color: white;
}

.sidebar_logo {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    background-color: #ddd;
}

.column {
    overflow: auto;
    margin: 0;
    border-width: 0 0.5px 0 0;
    border-style: solid;
    border-color: #ddd;
    padding: 0;
    width: 20rem;
    height: 100%;
    background-color: #ffff;
}

.column_search {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    background-color: #eee;
    display: flex;
    flex-direction: row;
}

.search_bar {
    flex: 1;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    color: #444;
    background-color: #fff;
}

.chat_search_bar {
    flex: 1;
    height: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    color: #444;
    background-color: #fff;
}

.add_button {
    margin: 1rem;
    border: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.column_item {
    margin: 0;
    border: 0;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.column_item:hover {
    background-color: #f8f8f8;
}

.content {
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    flex: 1;
    height: 100%;
}