@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}





