.sidenav {
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -20rem;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2rem;
}

.drop {
    text-align: center;
    font-weight: bold;
    color: red;
}


