.sidenav {
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -20rem;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2rem;
}

.member_list {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.member {
    width: 2.5rem;
    height: 3rem;
    padding: 0;
    border: 0;
    margin: 0.25rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member_photo {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 0;
    margin: 0;
}

.member_name {
    width: 2.5rem;
    height: 0.8rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
    padding: 0;
    border: 0;
    margin: 0.2rem 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}